<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>About Fleur De R&eacute;verie</title>
  </head>

  <body>
    <header>
      <h1 class="logo">
        <img src="/images/logo.png" alt="Fleur De R&eacute;verie Logo" />
      </h1>
      <navbar>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/flowers">All Flowers</a></li>
          <!-- Dropdown menu for occasions -->
          <li class="dropdown">
            <a href="#" class="dropbtn">Occasions</a>
            <div class="dropdown-content">
              <a href="/occasions?occasion=Birthday">Birthday</a>
              <a href="/occasions?occasion=Anniversary">Anniversary</a>
              <a href="/occasions?occasion=Wedding">Wedding</a>
              <a href="/occasions?occasion=Thank You">Thank You</a>
            </div>
          </li>
          <li><a href="/about">About</a></li>
          <!-- Search Form -->
          <div class="search-icon">
            <img
              src="/images/search.png"
              alt="Search"
              id="searchIcon"
              width="30px"
            />
            <form
              action="/search"
              method="GET"
              id="searchForm"
              class="search-form"
            >
              <input type="text" name="query" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>

          <!-- Basket Button -->
          <div class="basket-content">
            <a href="/basket">
              <img
                id="basketImage"
                src="/images/basket.png"
                alt="basket"
                width="30px"
              />
            </a>
          </div>
          <!-- Account Button -->
          <div class="account-content">
            <a href="/account">
              <img
                id="accountImage"
                src="/images/account.png"
                alt="account"
                width="30px"
              />
            </a>
          </div>
        </ul>
      </navbar>
    </header>

    <main>
      <div class="aboutpage">
        <h2>About Fleur De R&eacute;verie</h2>
        <p>
          At Fleur De R&eacute;verie, we love to bring the beauty of the natural
          world to your special occasions. Our beautiful bouquets are carefully
          selected to bring a touch of elegance to every event.
        </p>
        <p>
          Whether you’re celebrating a special occasion, anniversaries,
          weddings, or just want to show your appreciation, our wide variety of
          flowers will bring your senses to life. Each flower is hand-picked and
          hand-arranged with care to create beautiful and unforgettable floral
          arrangements.
        </p>
        <p>
          Take a look at our collection, and invite Fleur De R&eacute;verie to
          be a part of your celebration. We are dedicated to providing you with
          freshness, quality, and outstanding service to make your special
          moments unforgettable.
        </p>
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Fleur de R&eacute;viere</p>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchIcon = document.getElementById("searchIcon");
        const searchForm = document.getElementById("searchForm");

        searchIcon.addEventListener("click", function () {
          searchForm.style.display =
            searchForm.style.display === "none" ||
            searchForm.style.display === ""
              ? "block"
              : "none";
        });
      });
    </script>
  </body>
</html>
