<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>My Account - Fleur De R&eacute;verie</title>
  </head>

  <body>
    <header>
      <h1>Fleur De R&eacute;verie</h1>
      <navbar>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/flowers">All Flowers</a></li>
          <!-- Dropdown menu for occasions -->
          <li class="dropdown">
            <a href="#" class="dropbtn">Occasions</a>
            <div class="dropdown-content">
              <a href="/occasions?occasion=Birthday">Birthday</a>
              <a href="/occasions?occasion=Anniversary">Anniversary</a>
              <a href="/occasions?occasion=Wedding">Wedding</a>
              <a href="/occasions?occasion=Thank You">Thank You</a>
            </div>
          </li>
          <li><a href="/about">About</a></li>
          <!-- Search Form -->
          <div class="search-icon">
            <img
              src="/images/search.png"
              alt="Search"
              id="searchIcon"
              width="30px"
            />
            <form
              action="/search"
              method="GET"
              id="searchForm"
              class="search-form"
            >
              <input type="text" name="query" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>

          <!-- Basket Button -->
          <div class="basket-content">
            <a href="/basket">
              <img
                id="basketImage"
                src="/images/basket.png"
                alt="basket"
                width="30px"
              />
            </a>
          </div>
          <!-- Account Button -->
          <div class="account-content">
            <a href="/account">
              <img
                id="accountImage"
                src="/images/account.png"
                alt="account"
                width="30px"
              />
            </a>
          </div>
        </ul>
      </navbar>
    </header>
    <main>
      <div class="account-section">
        <h2>My Account</h2>
        <ul>
          <li>
            <h3>My Orders</h3>
          </li>
          <li><p>You haven't placed any orders yet.</p></li>
        </ul>
        <h3>Primary Addresses</h3>
        <li><p>You have no addresses saved.</p></li>
        <h3>Loyalty</h3>
        <p>
          Fleur de R&eacute;viere's Loyalty scheme for customers. Convert your
          purchases into money off by collecting points!
        </p>
        <p>
          Welcome <span id="userWelcome"><%= userName %></span>, you have earned
          0 points
        </p>
        <button onclick="window.location.href='/logout'" id="logoutButton">
          LOG OUT
        </button>
      </div>
      <button onclick="window.location.href='/logout'" id="logoutButton">
        LOG OUT
      </button>
    </main>
    <footer>
      <p>&copy; 2023 Fleur de R&eacute;viere</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchIcon = document.getElementById("searchIcon");
        const searchForm = document.getElementById("searchForm");

        searchIcon.addEventListener("click", function () {
          searchForm.style.display =
            searchForm.style.display === "none" ||
            searchForm.style.display === ""
              ? "block"
              : "none";
        });
      });
      // Check if the user is logged in
      const isLoggedIn = localStorage.getItem("isLoggedIn");

      // Function to handle user logout
      function logout() {
        localStorage.removeItem("isLoggedIn");
        updateUI();
      }

      // Function to update UI based on login status
      function updateUI() {
        const logoutButton = document.getElementById("logoutButton");
        const loginButton = document.getElementById("loginButton");
        const myAccountSection = document.getElementById("myAccountSection");

        if (isLoggedIn) {
          // User is logged in
          logoutButton.style.display = "block";
          myAccountSection.style.display = "block";

          document.getElementById("name").textContent = "Name: John Doe";
          document.getElementById("userWelcome").textContent = "John";
        } else {
          // User is logged out
          logoutButton.style.display = "none";
          myAccountSection.style.display = "none";
        }
      }

      // Attach event listeners
      document.getElementById("logoutButton").addEventListener("click", logout);

      // Initial UI update
      updateUI();
    </script>
  </body>
</html>
