<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Fleur De R&eacute;verie</title>
  </head>

  <body>
    <header>
      <h1>Fleur De R&eacute;verie</h1>
      <navbar>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/flowers">All Flowers</a></li>
          <!-- Dropdown menu for occasions -->
          <li class="dropdown">
            <a href="#" class="dropbtn">Occasions</a>
            <div class="dropdown-content">
              <a href="/occasions?occasion=Birthday">Birthday</a>
              <a href="/occasions?occasion=Anniversary">Anniversary</a>
              <a href="/occasions?occasion=Wedding">Wedding</a>
              <a href="/occasions?occasion=Thank you">Thank You</a>
            </div>
          </li>
          <li><a href="/about">About</a></li>
          <!-- Search Form -->
          <div class="search-icon">
            <img
              src="/images/search.png"
              alt="Search"
              id="searchIcon"
              width="30px"
            />
            <form
              action="/search"
              method="GET"
              id="searchForm"
              class="search-form"
            >
              <input type="text" name="query" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>

          <!-- Basket Button -->
          <div class="basket-content">
            <a href="/basket">
              <img
                id="basketImage"
                src="/images/basket.png"
                alt="basket"
                width="30px"
              />
            </a>
          </div>
          <!-- Account Button -->
          <div class="account-content">
            <a href="/account">
              <img
                id="accountImage"
                src="/images/account.png"
                alt="account"
                width="30px"
              />
            </a>
          </div>
        </ul>
      </navbar>
    </header>

    <main>
      <!-- slideshow -->
      <div class="slideshow">
        <div class="slides">
          <img src="/images/slideshow1.jpeg" alt="Slide 1" />
        </div>
        <div class="slides">
          <img src="/images/slideshow2.jpeg" alt="Slide 2" />
        </div>
        <div class="slides">
          <img src="/images/slideshow3.jpeg" alt="Slide 3" />
        </div>
        <div style="text-align: center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>

      <h2><center>Popular Products</center></h2>
      <div class="popularproducts">
        <div class="product" id="product1">
          <img src="/images/flower3.jpeg" alt="product1" />
          <div class="product-info">
            <h3>Dream Galore Bouquet</h3>
            <p>Price: £32.50</p>
            <button onclick="addToBasket('product1')">Add to Basket</button>
          </div>
        </div>

        <div class="product" id="product2">
          <img src="/images/flower7.jpeg" alt="product2" />
          <div class="product-info">
            <h3>Classic Elegant Bouquet</h3>
            <p>Price: £30.99</p>
            <button onclick="addToBasket('product2')">Add to Basket</button>
          </div>
        </div>

        <div class="product" id="product3">
          <img src="/images/flower2.JPEG" alt="product3" />
          <div class="product-info">
            <h3>Pretty Poinsettia Bouquet</h3>
            <p>Price: £15.99</p>
            <button onclick="addToBasket('product3')">Add to Basket</button>
          </div>
        </div>
      </div>

      <h2><center>Shop by Occasion</center></h2>
      <div class="occasions">
        <h3>Anniversary</h3>
        <p>
          Indulge your special day with one of our gorgeous anniversary flower
          bouquets.
        </p>
        <button
          type="occassionbutton"
          onclick="window.location.href='/occasions?occasion=anniversary'"
        >
          SHOP NOW
        </button>

        <h3>Birthday</h3>
        <p>Looking for the best birthday flowers?</p>
        <button
          type="occassionbutton"
          onclick="window.location.href='/occasions?occasion=birthday'"
        >
          SHOP NOW
        </button>

        <h3>Wedding</h3>
        <p>
          Add a touch of elegance to your wedding bouquet with our beautiful
          wedding flower collection.
        </p>
        <button
          type="occassionbutton"
          onclick="window.location.href='/occasions?occasion=wedding'"
        >
          SHOP NOW
        </button>

        <h3>Thank You</h3>
        <p>
          Show your appreciation with our beautiful bouquet of thank you
          flowers!
        </p>
        <button
          type="occassionbutton"
          onclick="window.location.href='/occasions?occasion=thankyou'"
        >
          SHOP NOW
        </button>
      </div>

      <form action="/subscribe" method="post">
        <h2>Sign Up To Our Newsletter</h2>
        <center>
          <p>
            Sign up to recieve emails from Fleur De R&eacute;viere to get
            exclusive discounts and promotions! Don't Miss Out.
          </p>
        </center>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <button type="submit">SUBSCRIBE</button>
      </form>
    </main>

    <footer>
      <p>&copy; 2023 Fleur de R&eacute;viere</p>
    </footer>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchIcon = document.getElementById("searchIcon");
        const searchForm = document.getElementById("searchForm");

        searchIcon.addEventListener("click", function () {
          searchForm.style.display =
            searchForm.style.display === "none" ||
            searchForm.style.display === ""
              ? "block"
              : "none";
        });
      });

      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        const slides = document.querySelectorAll(".slides");
        const dots = document.querySelectorAll(".dot");

        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }

        slideIndex++;

        if (slideIndex > slides.length) {
          slideIndex = 1;
        }

        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }

        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";

        setTimeout(showSlides, 2500);
      }

      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function addToBasket(productId) {
        // Logic to add product to basket
        console.log(`Product ${productId} added to basket`);
      }
    </script>
  </body>
</html>
