<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fleur De Réverie</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <h1><center>FLEUR DE R&Eacute;VIERE</center></h1>
      <nav>
        <div class="navbar">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/catalog">PRODUCT CATALOG</a></li>
            <li><a href="/cart">SHOPPING CART</a></li>
            <li><a href="/checkout">CHECKOUT</a></li>
            <li><a href="/loyalty">LOYALTY PROGRAM</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <h1>Welcome to Fleur De R&eacute;verie!</h1>
      <p>Current Stock</p>
    </main>
  </body>
</html>
