<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Fleur De R&eacute;verie</title>
  </head>

  <body>
    <header>
      <h1>Fleur De R&eacute;verie</h1>
      <navbar>
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="/flowers">All Flowers</a></li>

          <!-- Dropdown menu for occasions -->
          <li class="dropdown">
            <a href="#" class="dropbtn">Occasions</a>
            <div class="dropdown-content">
              <a href="/occasions?occasion=birthday">Birthday</a>
              <a href="/occasions?occasion=anniversary">Anniversary</a>
              <a href="/occasions?occasion=wedding">Wedding</a>
              <a href="/occasions?occasion=thankyou">Thank You</a>
            </div>
          </li>
          <!-- Basket Button -->
          <div class="basket-content">
            <a href="/basket">
              <img
                id="basketImage"
                src="/images/basket.png"
                alt="basket"
                width="30px"
              />
            </a>
          </div>
          <!-- Account Button -->
          <div class="account-content">
            <a href="/account">
              <img
                id="accountImage"
                src="/images/account.png"
                alt="account"
                width="30px"
              />
            </a>
          </div>
        </ul>
      </navbar>
    </header>
    <main>
      <section>
        <div class="loginpage">
          <h2>Login</h2>
          <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required />

            <label for="password"> Password:</label>
            <input type="password" id="password" name="password" required />

            <button type="submit">LOGIN</button>
          </form>
          <p>Don't have an account? <a href="/register"> Register here</a>.</p>
        </div>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Fleur de R&eacute;viere</p>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
