<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <title>Register with Fleur De R&eacute;verie</title>
  </head>

  <body>
    <header>
      <h1>Fleur De R&eacute;verie</h1>
      <navbar>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/flowers">All Flowers</a></li>
          <!-- Dropdown menu for occasions -->
          <li class="dropdown">
            <a href="#" class="dropbtn">Occasions</a>
            <div class="dropdown-content">
              <a href="/occasions?occasion=Birthday">Birthday</a>
              <a href="/occasions?occasion=Anniversary">Anniversary</a>
              <a href="/occasions?occasion=Wedding">Wedding</a>
              <a href="/occasions?occasion=Thank You">Thank You</a>
            </div>
          </li>
          <li><a href="/about">About</a></li>
          <!-- Search Form -->
          <div class="search-icon">
            <img
              src="/images/search.png"
              alt="Search"
              id="searchIcon"
              width="30px"
            />
            <form
              action="/search"
              method="GET"
              id="searchForm"
              class="search-form"
            >
              <input type="text" name="query" placeholder="Search..." />
              <button type="submit">Search</button>
            </form>
          </div>

          <!-- Basket Button -->
          <div class="basket-content">
            <a href="/basket">
              <img
                id="basketImage"
                src="/images/basket.png"
                alt="basket"
                width="30px"
              />
            </a>
          </div>
          <!-- Account Button -->
          <div class="account-content">
            <a href="/account">
              <img
                id="accountImage"
                src="/images/account.png"
                alt="account"
                width="30px"
              />
            </a>
          </div>
        </ul>
      </navbar>
    </header>
    <main>
      <div class="signbg">
        <div class="signup-box">
          <h2><center>Register with Fleur De Revi&eacute;re Now!</center></h2>

          <form action="/register" method="post">
            <div class="container">
              <h4>Please fill in this form to create an account</h4>
              <hr />

              <label for="firstname"><b>First Name:</b></label>
              <input type="text" name="FirstName" id="firstname" required />

              <label for="lastname"><b>Last Name:</b></label>
              <input type="text" name="LastName" id="lastname" required />

              <label for="email"><b>Email Address:</b></label>
              <input type="email" name="email" id="email" required />

              <label for="password"><b>Password:</b></label>
              <p>
                The password should include 8 characters, an upper case letter,
                and a number
              </p>
              <input
                type="password"
                name="password"
                id="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                minlength="8"
                required
              />

              <label for="password-repeat"><b>Repeat Password:</b></label>
              <input
                type="password"
                placeholder=""
                name="password-repeat"
                id="password-repeat"
                required
              />
              <br />

              <button
                type="submit"
                class="registerbutton"
                onclick="return ansValidation()"
              >
                Register
              </button>
              <script>
                // FUNCTION TO MAKE SURE PASSWORDS MATCH
                function ansValidation() {
                  var passValue = document.getElementById("password").value;
                  var confpassValue =
                    document.getElementById("password-repeat").value;

                  if (passValue !== confpassValue) {
                    alert("Passwords do not match!");
                    return false;
                  } else {
                    return true;
                  }
                }
              </script>
            </div>
            <div class="container login">
              <p>Already have an account? <a href="/login">Sign in</a>.</p>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 Fleur de R&eacute;viere</p>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchIcon = document.getElementById("searchIcon");
        const searchForm = document.getElementById("searchForm");

        searchIcon.addEventListener("click", function () {
          searchForm.style.display =
            searchForm.style.display === "none" ||
            searchForm.style.display === ""
              ? "block"
              : "none";
        });
      });
    </script>
  </body>
</html>
