body {
  background-color: #ffffff;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d4d0c5;
  padding: 10px;
  font-family: "arial";
  font-size: 16px;
  text-align: center;
  background-image: url("/images/loginbg.png");
  background-size: cover;
  background-position: center;
  height: 20vh;
}
.navbar {
  display: flex;
  justify-content: space-around;
}

navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

navbar a {
  text-decoration: none;
  color: white;
}

navbar a:hover {
  color: #d66fb2;
}

.search-icon {
  position: relative;
  cursor: pointer;
}

#searchForm {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #d66fb2;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#searchForm input {
  width: 150px;
  padding: 5px;
}

#searchForm button {
  padding: 5px 10px;
}

h2 {
  color: #d66fb2;
  font-size: 22px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #d4d0c5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.basket-content {
  cursor: pointer;
}
.main {
  padding: 20px;
}

footer {
  background-color: #d4d0c5;
  text-align: center;
  padding: 10px;
  background-image: url("/images/loginbg.png");
  background-size: cover;
  background-position: center;
  height: 20vh;
}

footer p {
  color: white;
}

/* login page */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: "Kalnia", serif;
}

.loginpage {
  max-width: 400px;
  width: 100%;
  padding: 15px;
  border: 1px solid #d4d0c5;
  border-radius: 5px;
  text-align: center;
}

form {
  flex-direction: column;
  display: flex;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: #d66fb2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d4d0c5;
  box-sizing: border-box;
  border-radius: 2px;
}

button {
  background-color: #d66fb2;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Kalnia", serif;
}

button:hover {
  background-color: #dbbad0;
}

p {
  margin-top: 10px;
  color: #d66fb2;
}

a {
  color: #d66fb2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #dbbad0;
}

/* registration page */
.signbg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  font-family: "Kalnia", serif;
}

.signup-box {
  max-width: 500px;
  width: 100%;
  padding: 15px;
  border: 1px solid #d4d0c5;
  border-radius: 5px;
  text-align: center;
}

form {
  flex-direction: column;
  display: flex;
}

h2 {
  color: #d66fb2;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: #d66fb2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d4d0c5;
  box-sizing: border-box;
  border-radius: 2px;
}

button {
  background-color: #d66fb2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Kalnia", serif;
}

button:hover {
  background-color: #dbbad0;
}

p {
  margin-top: 10px;
  color: #d66fb2;
}

a {
  color: #d66fb2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #dbbad0;
}
/* account page */

.account-main {
  padding: 20px;
}

.account-section p1 {
  color: black;
}

.account-section h3 {
  color: black;
  padding: 5px;
}

.account-section {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
  padding: 15px;
  border: 1px solid #d4d0c5;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.account-section button {
  background-color: #d66fb2;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kalnia", serif;
  margin-top: 10px;
}

.account-section button:hover {
  background-color: #dbbad0;
}

.account-section p {
  color: #d66fb2;
  margin-bottom: 10px;
}
/* homepage */
.slideshowbox {
  max-width: 400px;
  overflow: hidden;
  margin: auto;
  position: fixed;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #d4d0c5;
  border-radius: 20%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.popularproducts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product {
  width: 300px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
}

.product-info {
  text-align: center;
}

.active {
  background-color: #d66fb2;
}

h3 {
  color: black;
}

.occasions {
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

.occasions p {
  margin-bottom: 20px;
}

.occasions h3 {
  margin-top: 30px;
}

.occasionsbutton {
  margin-bottom: 30px;
}

form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #d4d0c5;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}
form p {
  color: black;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  background-color: #d66fb2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kalnia", serif;
}

button:hover {
  background-color: #dbbad0;
}

/* flowers page */
.allflowers {
  display: grid;
  gap: 20px;
  margin: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-family: "kalnia", sans serif;
}

.flower {
  border: 1px solid #d4d0c5;
  padding: 20px;
  text-align: center;
}

.flower img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.flower h3 {
  color: black;
  margin-bottom: 10px;
}

.flower p {
  margin-bottom: 15px;
  font-weight: bold;
  color: black;
}

.flower a button {
  background-color: #d1c5a3;
}

.flower a button:hover {
  background-color: #d4d0c5;
}
/* occassions page  */
.prodbyoccasion {
  display: grid;
  gap: 20px;
  margin: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  font-family: "kalnia", serif;
}
