body {
  background-color: #ffffff;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d4d0c5;
  padding: 10px;
  font-family: "arial";
  font-size: 16px;
  text-align: center;
  background-image: url("/images/loginbg.png");
  background-size: cover;
  background-position: center;
  height: 20vh;
}
.navbar {
  display: flex;
  justify-content: space-around;
}

navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

navbar a {
  text-decoration: none;
  color: white;
}

navbar a:hover {
  color: #d66fb2;
}

h2 {
  color: #d66fb2;
  font-size: 22px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #d4d0c5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.basket-content {
  cursor: pointer;
}
.main {
  padding: 20px;
}

footer {
  background-color: #d4d0c5;
  text-align: center;
  padding: 10px;
  background-image: url("/images/loginbg.png");
  background-size: cover;
  background-position: center;
  height: 20vh;
}

footer p {
  color: white;
}

/* login page */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  font-family: "Kalnia", serif;
}

.loginpage {
  max-width: 400px;
  width: 100%;
  padding: 15px;
  border: 1px solid #d4d0c5;
  border-radius: 5px;
  text-align: center;
}

form {
  flex-direction: column;
  display: flex;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: #d66fb2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d4d0c5;
  box-sizing: border-box;
  border-radius: 2px;
}

button {
  background-color: #d66fb2;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Kalnia", serif;
}

button:hover {
  background-color: #dbbad0;
}

p {
  margin-top: 10px;
  color: #d66fb2;
}

a {
  color: #d66fb2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #dbbad0;
}

/* registration page */
.signbg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 110vh;
  font-family: "Kalnia", serif;
}

.signup-box {
  max-width: 500px;
  width: 100%;
  padding: 15px;
  border: 1px solid #d4d0c5;
  border-radius: 5px;
  text-align: center;
}

form {
  flex-direction: column;
  display: flex;
}

h2 {
  color: #d66fb2;
}

label {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: left;
  color: #d66fb2;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d4d0c5;
  box-sizing: border-box;
  border-radius: 2px;
}

button {
  background-color: #d66fb2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Kalnia", serif;
}

button:hover {
  background-color: #dbbad0;
}

p {
  margin-top: 10px;
  color: #d66fb2;
}

a {
  color: #d66fb2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #dbbad0;
}

/* flowers page */
.productlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 25%;
  border: 1px solid #d66fb2;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.product img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.productname {
  font-size: 15px;
  margin: 0;
  color: #d66fb2;
}

.pdescription {
  margin: 10px 0;
  color: #d4d0c5;
}

.price {
  margin: 0;
}
