body {
  background-color: #ffffff;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d4d0c5;
  padding: 10px;
  font-family: "arial";
  font-size: 16px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
}

navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

navbar a {
  text-decoration: none;
  color: white;
}

navbar a:hover {
  color: #d66fb2;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-content a:hover {
  background-color: #d4d0c5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.basket-content {
  cursor: pointer;
}
.main {
  padding: 20px;
}

footer {
  background-color: #d4d0c5;
  text-align: center;
  padding: 10px;
}
